server:
  port: 8080
spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: customer-registration
          uri: lb://CUSTOMER-REGISTRATION
          predicates:
            - Path=/api/customer/registration/**
          filters:
            - StripPrefix=1
        - id: customer-details-enquiry
          uri: lb://CUSTOMER-DETAILS-ENQUIRY
          predicates:
            - Path=/api/customer/**
          filters:
            - StripPrefix=1
        - id: jwt-server
          uri: lb://JWT-SERVER
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1


logging:
  level:
    org.springframework.cloud.gateway: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/